html, body {
  background-color: #fff;
             color: #636b6f;
       font-family: 'Nunito', sans-serif;
       font-weight: 200;
            height: 100vh;
            margin: 0;
}
.centered-and-cropped { 
    object-fit: cover; 
}

.notice {
    width: 100%;
    margin-top: 0.25rem;
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8;
}
.alert {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}
