<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
	@media only screen and (max-width: 600px) {
		.inner-body {
			width: 100% !important;
		}

		.footer {
			width: 100% !important;
		}
	}

	@media only screen and (max-width: 500px) {
		.button {
			width: 100% !important;
		}
	}
	.wrapper {
	  margin-right: auto; 
	  margin-left:  auto; 

	  max-width: 960px; 

	  padding-right: 10px; 
	  padding-left:  10px; 
	}
    </style>
  </head>
  <body>
    <table class="wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td align="center">
          <table class="content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
             <%= yield :header %>

	     <tr>
		<td class="body" width="100%" cellpadding="0" cellspacing="0">
		  <table class="inner-body" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
		    <tr>
			<td class="content-cell">
			    <%= yield %>
			</td>
		    </tr>
		  </table>
	        </td>
             </tr>

             <%= yield :footer %>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
